@model PagedList.PagedList<QLBRUOU.Models.RUOU>
@using PagedList;
@using QLBRUOU.Models;
@using PagedList.Mvc

<!-- using Helper HTML to cut to shorter description -->
@helper Truncate(string input, int length)
{
if (input.Length < length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@{
    ViewBag.Title = "Ruou";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ THÔNG TIN RƯỢU</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "themmoiruou")
</p>
<table class="table" border="1px">
    <tr>
        <th style="width: 200px">Tên rượu</th>
        <th style="width: 100px">Giá bán</th>
        <th style="width: 300px">Mô tả</th>
        <th style="width: 120px">Ảnh rượu</th>
        <th style="width: 150px">Ngày cập nhật</th>
        <th style="width: 120px">SL Tồn</th>
        <th style="width: 120px">Phân loại</th>
        <th style="width: 120px">Tên xuất xứ</th>
        <th style="width: 100px">Tên nhà cung cấp</th>
        <th style="width: 200px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => @item.TenRuou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.Giaban)
            </td>
            <td>
                @Truncate(item.Mota, 100)
            </td>
            <td>
                <img src="~/images/@item.AnhRuou" alt="@item.TenRuou" id="hienthi_anhruou" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHANLOAI.Loairuou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XUATXU.TenXXu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHACUNGCAP.TenNCC)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Suaruou", new { id = item.MaRuou }) |
                @Html.ActionLink("Chi tiết", "Chitietruou", new { id = item.MaRuou }) |
                @Html.ActionLink("Xóa", "xoaruou", new { id = item.MaRuou })
            </td>
        </tr>
    }

</table>

@* Making page list *@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Ruou", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
    img#hienthi_anhruou{
        width:100%;
    }
</style>

