@model QLBRUOU.Models.NHACUNGCAP

@{
    ViewBag.Title = "xoancc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>

<h3>Bạn có chắc muốn xóa nhà cung cấp này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhà cung cấp:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNCC)
        </dd>

        <dt>
            Địa chỉ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        
        <dt>
            Số điện thoại:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>       
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Nhacungcap")
        </div>
    }
</div>


